#ignore all the modelsim.ini files present in /test/name_test/build directories
.ini
*.log

#ignore all the build-folder, since contains very large files for complex algorithm
test/kyber768/keygen/build/
test/kyber768/enc/build/
test/kyber768/dec/build/
test/kyber512/keygen/build/
test/kyber512/enc/build/
test/kyber512/dec/build/
test/kyber1024/keygen/build/
test/kyber1024/enc/build/
test/kyber1024/dec/build/

test/kyber768/keygen/gcc_sim/
test/kyber768/enc/gcc_sim/
test/kyber768/dec/gcc_sim/
test/kyber512/keygen/gcc_sim/
test/kyber512/enc/gcc_sim/
test/kyber512/dec/gcc_sim/
test/kyber1024/keygen/gcc_sim/
test/kyber1024/enc/gcc_sim/
test/kyber1024/dec/gcc_sim/